<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?></label>
	<div class="col-md-6 col-sm-6 col-xs-12" id="<?php echo $param['name'] ?>"><?php echo $param['note'] ?></div>
</div>
