<?php 
$msg = msg::get_message($param['name']);

$items = [];
if(!is_array($param['datas']))
{
	while($row=db::fetch($param['datas']))
	{
		$items[] = $row;
	}
}
else
{
	$items = $param['datas'];
}
// print_r($items);
?>
<div class="form-group">
	
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo ($param['validate'])? '<span class="required">*</span>' : null ?> :
		</label>
	
	<div class="col-md-6 col-sm-6 col-xs-12">
		<?php foreach($items as $row){
				$pos = strpos($param['value'], $row['id']);
				?>		
		<div class="checkbox">
			<label>
				<input class="" id="<?php echo $row['id'] ?>" name="p_<?php echo $param['name'] ?>[]" type="checkbox" value="<?php echo $row['id'] ?>" <?php  echo /* ($datas['value'] == $row) */($pos === false)? null:"checked" ?> <?php echo $datas['validate'] ?>  > <?php echo $row['name']; //echo " ".$param['datas'][$i]; ?>
			</label>
		</div>
		<?php } ?>
	</div>
</div>