<?php $msg = msg::get_message($param['name']); ?>
<div id="g_<?= $param['name'] ?>" class="form-group">
	
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo ($param['validate'])? '<span class="required">*</span>' : null ?> :
		</label>
	
	<div class="col-md-6 col-sm-6 col-xs-12">
		<?php for($i=0;$i < count($param['datas']);$i++){
				$pos = strpos($param['value'], $param['datas'][$i]);
				?>		
		<div class="checkbox">
			<label>
				<input class="" id="<?php echo $param['datas'][$i] ?>" name="p_<?php echo $param['name'] ?>[]" type="checkbox" value="<?php echo $param['datas'][$i] ?>" <?php  echo /* ($param['value'] == $param['datas'][$i]) */($pos === false)? null:"checked" ?> <?php echo $param['validate'] ?>  > <?php echo app::getliblang($param['datas'][$i]); //echo " ".$param['datas'][$i]; ?>
			</label>
		</div>
		<?php } ?>
	</div>
</div>