<?php $msg = msg::get_message($param['name']); ?>
<div class="form-group">
	<?php 
		$label = true;
		if(isset($param['type'])){
			if($param['type'] == 'hidden')
			{
				$label = false;
			}
		}
	?>
	<?php if($label){ ?>
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo (isset($param['validate']))? '<span class="required">*</span>' : null ?>
		</label>
	<?php } ?>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="input-group demo2">
			<input type="<?php echo (isset($param['type'])?$param['type']:'text'); ?>" id="<?php echo $param['name'] ?>" name="p_<?php echo $param['name'] ?>" value="<?php echo isset($param['value'])?$param['value']:null; ?>" <?php echo (isset($param['validate']))?$param['validate']:""; ?> class="form-control col-md-7 col-xs-12 <?php echo ($msg)? 'error-style' : null ?>" <?php echo ($msg)? 'data-error="'.$msg.'"' : null ?> <?php echo ($param['placeholder'])? 'placeholder="'.$param['placeholder'].'"' : null ?>>
			<span class="input-group-addon"><i></i></span>
		</div>
	</div>
</div>