<!-- Bootstrap Colorpicker -->
    <script src="<?php echo $app['_vendors'] ?>/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"  type="text/javascript" language="javascript"></script>
<!-- Bootstrap Colorpicker -->
    <script>
      $(document).ready(function() {
        $('.demo1').colorpicker();
        $('.demo2').colorpicker();

        $('#demo_forceformat').colorpicker({
            format: 'rgba',
            horizontal: true
        });

        $('#demo_forceformat3').colorpicker({
            format: 'rgba',
        });

        $('.demo-auto').colorpicker();
      });
</script>
<!-- /Bootstrap Colorpicker -->
