<?php if($param[2] == true){ ?>
	<script language="javascript" type="text/javascript" src="<?php echo $app['webmin'] ?>/src/assets/tinymce/tinymce.min.js"></script>
	<script language="javascript" type="text/javascript">
		var lang = "<?php echo db::lookup('alias', 'lang', 'id', $app['me']['lang']); ?>";
	</script>
	<script src="<?php echo $app['webmin'] ?>/src/assets/tinymce/init.js" type="text/javascript"></script>
<?php } ?>
<?php $content = msg::get_message('content'); ?>
<div class="form-group">
	<?php if($param['type'] != 'hidden'){ ?>
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="content"><?php echo app::getliblang('content'); ?><?php echo ($param['validate'])? '<span class="required">*</span>' : null ?> :
		</label>
	<?php } ?>
	<div class="col-md-8 col-sm-6 col-xs-12">
		<textarea id="content" class="<?php echo $param[1]; ?>" name="p_content" <?php echo $param['validate'] ?> ><?php echo $param[0]; ?></textarea>
	</div>
</div>