<?php $msg = msg::get_message($param['name']); ?>
<div class="form-group" <?php echo (isset($param[ 'style'])?$param[ 'style']: "") ?> id="g_
    <?php echo $param['name'] ?>">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo (isset($param['validate']) && !empty($param['validate']))? '<span class="required">*</span>' : null ?>
		</label>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="<?php echo $param['name'] ?>" name="p_<?php echo $param['name'] ?>" value="<?php echo $param['value'] ?>" class="<?php echo $param['name'] ?> form-control has-feedback-left datepickers_t" aria-describedby="<?php echo $param['name'] ?>">
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                    <span id="<?php echo $param['name'] ?>" class="sr-only">(success)</span>
                </div>
                <?= empty($param['note'])?"":"*".$param['note'] ?>
            </div>
        </fieldset>
    </div>
</div>