<link rel="stylesheet" type="text/css" href="<?php echo $app['webmin']; ?>/src/assets/css/jquery-ui.css">
<script src="<?php echo $app['webmin']; ?>/src/assets/js/moment/moment.min.js"></script>
<script src="<?php echo $app['webmin']; ?>/src/assets/js/datepicker/daterangepicker.js"></script>
<script src="<?php echo $app['webmin']; ?>/src/assets/js/jqui/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        $('.datepickers').daterangepicker({
            singleDatePicker: true,
            // showDropdowns: true,
            calender_style: "picker_2",
            format: 'YYYY-MM-DD',
            // startDate: "2020/10/08",
            // endDate: "2020/10/09",
            // maxDate: "1"
            maxDate: new Date()
                // timePicker: true,
                // startDate: moment().startOf('hour'),
                // endDate: moment().startOf('hour').add(32, 'hour'),
                // locale: {
                //     format: 'M/DD hh:mm A'
                // },
                // format: 'DD-MM-YYYY'
        }, function(start, end, label) {
            //console.log(start)
            //console.log(start.toISOString(), end.toISOString(), label);
        });

        // function date_search(){
        //   loadData(_url, {act:'data', ref:$(this).val()});
        // };
        $(".datepickersingle").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>