<link rel="stylesheet" type="text/css" href="<?php echo $app['webmin']; ?>/src/assets/css/jquery-ui.css">
<script src="<?php echo $app['webmin']; ?>/src/assets/js/moment/moment.min.js"></script>
<script src="<?php echo $app['webmin']; ?>/src/assets/js/datepicker/daterangepicker.js"></script>
<script src="<?php echo $app['webmin']; ?>/src/assets/js/jqui/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        $('.datepickers_t').daterangepicker({
            singleDatePicker: true,
            // showDropdowns: true,
            // calender_style: "picker_3",
            // format: 'YYYY-MM-DD',

            timePicker: true,
            timePicker24Hour: true,
            timePickerIncrement: 1,
            timePickerSeconds: true,
            // format: 'DD-MM-YYYY'
        }, function(start, end, label) {
            //console.log(start)
            //console.log(start.toISOString(), end.toISOString(), label);
        });

        // function date_search(){
        //   loadData(_url, {act:'data', ref:$(this).val()});
        // };
        $(".datepickersingle").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>