							</form>
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
<?php 
$success 	= msg::get_message('success');
$error 		= msg::get_message('error'); 
?>
<script>
	<?php if( $success ){ ?>
		$(".notif-msg").html('<?php echo msg::display_notif_msg("success", app::getliblang('success')." ".$success ) ?>');
	<?php } ?>
	<?php if( $error ){ ?>
		$(".notif-msg").html('<?php echo msg::display_notif_msg("danger", app::getliblang('error')." ".$error ) ?>');
	<?php } ?>
</script>