	<div <?php if ($param['forgot'] !="yes") echo 'class="right_col"';?>  role="main">
          <div class="">
			  <div class="row">
				  <div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
					  <div class="x_title">
						<h2><?php echo admlib::$page_active['caption'] ?></h2>
						<div class="clearfix"></div>
					  </div>
					  <div class="x_content">
					  
						<div class="notif-msg"></div>
						<br />
						<?php /*echo "disini  ";
								print_r($param);*/ ?>
						<form method="post" <?= (empty($param['onsubmit'])?"":"onsubmit=".$param['onsubmit']."") ?> action="<?php echo (isset(admlib::$page_active['system'])?admlib::$page_active['system'] .'.do':admlib::$page_active['module'] .'.mod'); ?>" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" name="samForm" <?php if ($param['forgot'] =="yes") echo 'style="margin-left:200px;"';?> >
