<div class="form-group" id="g_<?php echo $param['name'] ?>">
	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo ($param['validate'])? '<span class="required">*</span>' : null ?> :</label>
	<div class="col-md-6 col-sm-6 col-xs-12">
	<p class="" style="padding-top: 10px;"><?php echo isset($param['value'])?htmlspecialchars_decode($param['value']):null; ?></p>
	</div>
</div>