<?php $msg = msg::get_message($param['name']); ?>
<div class="form-group" id="g_<?php echo $param['name'] ?>" <?= $param['style'] ?>>
	<?php 
		$label = true;
		if(isset($param['type'])){
			if($param['type'] == 'hidden')
			{
				$label = false;
			}
		}
	?>
	<?php if($label){ ?>
		<label style="<?= (empty($param['hide_label'])?"":"display: none;") ?>" class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo ($param['ganti_label']?app::getliblang($param['ganti_label']):(app::getliblang($param['name']))); ?><?php echo (isset($param['validate']))? '<span class="required">*</span>' : null ?>
		 :</label>
	<?php } ?>
	<div class="<?php echo (isset($param['divclass'])?$param['divclass']:"col-md-6 col-sm-6 col-xs-12") ?>">
		<input style="<?= $param['style_input'] ?>" type="<?php echo (isset($param['type'])?$param['type']:'text'); ?>" id="<?php echo $param['name'] ?>" name="p_<?php echo $param['name'] ?>" value="<?php echo isset($param['value'])?$param['value']:null; ?>" <?php echo (isset($param['validate']))?$param['validate']:""; ?> class="form-control col-md-7 col-xs-12 <?php echo ($msg)? 'error-style' : null ?>" <?php echo ($msg)? 'data-error="'.$msg.'"' : null ?> <?php echo (isset($param['placeholder']))? 'placeholder="'.$param['placeholder'].'"' : null ?> <?php echo (isset($param['disabled']))? 'disabled': null ?> <?php echo (isset($param['readonly']))? 'readonly="readonly"': null ?> <?php echo (isset($param['validate']))? 'required' : null ?>><?= $param['note'] ?>
		<?php if ($param['img_tooltip']): ?>
<!-- 		<a href="#" id="info_img" data-toggle="tooltip" title="<img src='<?= $param['img_tooltip'] ?>' />"><i class="test fa fa-info fa-fw" ></i></a> -->
<?php if($app['me']['code'] == "it"){ ?>
<div id="testing123">
	
</div>
<?php } ?>
<!-- 		<a href="#" data-toggle="tooltip" title="<img src='http://getbootstrap.com/apple-touch-icon.png' />"><i class="test fa fa-info fa-fw" ></i></a> -->
		<?php endif ?>
	</div>
</div>