<?php $msg = msg::get_message($param['name']); ?>
<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo (isset($param['validate']))? '<span class="required">*</span>' : null ?>
		</label>
	<div class="col-md-6 col-sm-6 col-xs-12 get_size" style="padding-left:0px !important">
		  <div class="form-group col-md-3">
			<label for="tebal">Tebal (mm)</label>
			<input type="text" id="tebal" class="form-control number">
		  </div>
		  <div class="form-group col-md-3">
			<label for="lebar">Lebar (mm)</label>
			<input type="text" id="lebar" class="form-control number">
		  </div>
		  <div class="form-group col-md-3">
			<label for="panjang">Panjang (mm)</label>
			<input type="text" id="panjang" class="form-control number">
		  </div>
		  <div class="form-group col-md-3">
			<label for="berat">Berat (mm)</label>
			<input type="text" id="berat" class="form-control number">
		  </div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
		<i class="btn btn-primary" id="more_size" style="margin-top: 22px;" >
			<?php echo app::getliblang('add'); ?>
		</i>
	</div>
</div>
<div class="form-group">
	<label class="control-label col-md-3 col-sm-3 col-xs-12"></label>	
	<div class="col-md-6 col-sm-6 col-xs-12">
		<table class="table table-bordered">
		  <thead>
			<tr>
			  <th>Tebal (mm)</th>
			  <th>Lebar (mm)</th>
			  <th>Panjang (mm)</th>
			  <th>Berat (mm)</th>
			  <th></th>
			</tr>
		  </thead>
		  <tbody id="place_size">
			<?php if(db::nr($param['value'])){
			while($params = db::fetch($param['value'])){
				$row = explode("|",$params['standart_size']);
				?>
					<tr>
						<td><?php echo $row[0] ?></td>
						<td><?php echo $row[1] ?></td>
						<td><?php echo $row[2] ?></td>
						<td><?php echo $row[3] ?></td>
						<td>
							<i class="dels">delete</i>
							<input type="hidden" name="p_standart_size[]" value="<?php echo $params['standart_size'] ?>" />
						</td>
					</tr>
				<?php 
				}
			} ?>
		  </tbody>
		</table>
	</div>
</div>
<script>
$(document).ready(function() {
	$(document).on('click', '.dels', function(event){ 
		$(this).parents('tr').remove();
	}); 
	$("#more_size").click(function(e){
		e.preventDefault();
		var tebal = $(".get_size :input[id=tebal]").val();
		var lebar = $(".get_size :input[id=lebar]").val();
		var panjang = $(".get_size :input[id=panjang]").val();
		var berat = $(".get_size :input[id=berat]").val();
		if(tebal && lebar && panjang && berat){
			$('.number').val("");
			$("#place_size").append("<tr><td>"+tebal+"</td><td>"+lebar+"</td><td>"+panjang+"</td><td>"+berat+"</td><td><i class='dels'>delete</i><input type='hidden' name='p_standart_size[]' value='"+tebal+"|"+lebar+"|"+panjang+"|"+berat+"' /></td></tr>");
		}else{
			alert("Standart Size must be filed");
		}

	});
	<!-- $(".number").keydown(function (e) { -->
		<!-- if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 || -->
			<!-- (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||  -->
			<!-- (e.keyCode >= 35 && e.keyCode <= 40)) { -->
				 <!-- return; -->
		<!-- } -->
		<!-- if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) { -->
			<!-- e.preventDefault(); -->
		<!-- } -->
	<!-- }); -->
});
	
</script>
