<?php $msg = msg::get_message($param['name']);
	$module = admlib::$page_active['module']; ?>
<?php if(!isset($param['filemedia'])){ ?>
	<style>
		[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
			position:relative;
			left: 0px;
			opacity: 1;
			visibility: visible !important;
		}
	</style>
	<script>
		$(function(){
			$('#btn-file-<?php echo $param['name'] ?>').click(function(){
				$('#file_<?php echo $param['name'] ?>').trigger('click');
			});
		});
	</script>
<?php } ?>
<div class="form-group">
	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo (isset($param['validate']))? '<span class="required">*</span>' : null ?> :
		</label>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<?php if(isset($param['filemedia'])){ ?>
			<p style="text-align:center;width:100%;overflow:auto;margin:0;">
				<!--<img id="view-file-<?php echo $param['name']; ?>" <?php echo (!$param['value']?'style="display:none;"':null); ?> src="<?php echo $app['data_lib'] ."/". $param['value']; ?>"/>-->
				
					<?php if($param['value'] && file_exists($app['data_lib_path'] ."/". $param['value'])){ ?>
					<img id="view-file-<?php echo $param['name']; ?>" <?php echo (!$param['value']?'style="display:none;"':null); ?> src="<?php echo $app['data_lib'] ."/". $param['value']; ?>"/>

					<?php }else{ ?>

						<img id="p_<?php echo $param['name'] ?>" src="<?php echo $app['_static'] .'/noimage.png'; ?>" style="max-width:200px" />
						<br />
					<?php } ?>
				</p><br>
			<input id="file-<?php echo $param['name']; ?>" style="display: none;" name="p_<?php echo $param['name']; ?>" type="text" value="<?php echo $param['value']; ?>" <?php echo (isset($param['validate']))?'required':""; ?> />
			<a style="<?= ($param['no_attach']==true?"display:none":null) ?>" class="btn btn-info btn-sm <?php echo ($msg)? 'error-style' : null ?>" <?php echo ($msg)? 'data-error="'.$msg.'"' : null ?> href="javascript:open_popup('file-<?php echo $param['name']; ?>')"><i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<?php echo app::getliblang($param['name']); ?></a>
			<span><?php echo (isset($param['size'])?$param['size']:"") ?></span>
		<?php }else{ ?>
		<div class="file-field">
			<center>
				<?php if($param['category'] == 'image'){ ?>
					<?php if($param['value']){ ?>
						<img id="p_<?php echo $param['name'] ?>" src="<?php echo $param['value']; ?>" width="256"/>
						<br/>
						<input type="checkbox" name="p_<?php echo $param['name'] ?>_del[]" value="1">&nbsp;<?php echo app::getliblang('check_to_remove'); ?>
						<br/>
					<?php }else{ ?>
						<img id="p_<?php echo $param['name'] ?>" src="<?php echo $app['_static'] .'/noimage.png'; ?>" style="max-width:200px" />
						<br />
					<?php } ?>
				<?php }else{ ?>
					<?php if($param['value']){ ?>
						<?php if ($param['link']=="yes"){ ?>
							<a target="_blank" href="<?= $app['http']."/".$module.".mod&id=".$param['id_link']."&act=view_file" ?>">
								<p id="p_<?php echo $param['name'] ?>"><?php echo $param['value'] ?></p>
							</a>
						<?php }else{ ?>
							<p id="p_<?php echo $param['name'] ?>"><?php echo $param['value'] ?></p>
						<?php } ?>
						<input type="checkbox" name="p_<?php echo $param['name'] ?>_del" value="1">&nbsp;<?php echo app::getliblang('check_to_remove'); ?>
						<br/>
					<?php }else{ ?>
						<p id="p_<?php echo $param['name'] ?>"></p>
					<?php } ?>
				<?php } ?>
			</center>
			<button type="button" id="btn-file-<?php echo $param['name'] ?>" class="btn btn-primary <?php echo ($msg)? 'error-style' : null ?>" <?php echo ($msg)? 'data-error="'.$msg.'"' : null ?> >
				<span><?php echo app::getliblang($param['name']); ?></span>
			</button>
			<span><?php echo (isset($param['size'])?$param['size']:"") ?></span>
		</div>
		<input name="p_<?php echo $param['name'] ?>" style="display:none;" id="file_<?php echo $param['name'] ?>" category="<?php echo $param['category'] ?>" type="file" <?php echo (isset($param['validate']))?$param['validate']:""; ?> accept="<?php echo $param['accept'] ?>" />

		<?php } ?>
	</div>
</div>
