<?php $msg = msg::get_message($param['name']); ?>
<script>
	$(document).ready(function() {
		$('.modify-remove').click(function(e){ 
			e.preventDefault();
			var $theAnchor = $(this).parent();
			$theAnchor.closest("div").remove();
		}); 
		$('#btn-file-<?php echo $param['name'] ?>').click(function(){
		<!-- alert(); -->
			$('#file_<?php echo $param['name'] ?>').trigger('click');
		});
	});
</script>
<div class="form-group">
	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo (isset($param['validate']))? '<span class="required">*</span>' : null ?>
		</label>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<input type="file" id="file_<?php echo $param['name'] ?>" name="p_<?php echo $param['name'] ?>[]" value="<?php echo isset($param['value'])?$param['value']:null; ?>" <?php echo (isset($param['validate']))?$param['validate']:""; ?> class="multi with-preview <?php echo ($msg)? 'error-style' : null ?> " <?php echo ($msg)? 'data-error="'.$msg.'"' : null ?>>
		<span><?php echo (isset($param['size'])?$param['size']:"") ?></span>

		<?php if($param['value']){ ?>
		<div class="MultiFile-list" id="file_image_list">
				<?php		
					$img = explode("|",$param['value']);
					foreach($img as $v){
						if(file_exists($app['data_path'] . $param['path'] . $v))
						{
							$src = $app['layouts'] . $param['path'] . $v;
						}else{
							$src = $app['layouts'] ."/default.png";
						}
					?>
				<div class="MultiFile-label">
					<a class="MultiFile-remove modify-remove" href="#file_image"><i style="color:#F44336" class="fa fa-close fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;</a>
					<span class="MultiFile-label" title="File selected: home-slide3.jpg">
						<img class="MultiFile-preview" style="max-height:300px; max-width:300px;padding:10px;" id="p_<?php echo $param['name'] ?>" src="<?php echo $src; ?>">
						<input type="hidden" name="p_<?php echo $param['name'] ?>_mod[]" value="<?php echo $v; ?>">
					</span>
				</div>
					<?php } ?>
		</div>
				<?php } ?>
				
	</div>
</div>