<?php $msg = msg::get_message($param['name']); ?>
<div class="form-group" id="g_<?php echo $param['name'] ?>">
	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>">
		<?php echo app::getliblang($param['name']); ?><?php echo (isset($param['validate'])? '<span class="required">*</span>' : null); ?> :
	</label>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<?php for($i=0;$i < count($param['datas']);$i++){ ?>		
			<div class="radio">
				<label>
					<input <?php echo (isset($param['validate']))? 'required' : null ?> id="<?php echo $param['datas'][$i] ?>" name="p_<?php echo $param['name'] ?>" type="radio" value="<?php echo $param['datas'][$i] ?>" <?php echo ($param['value'] == $param['datas'][$i])? "checked":null ?> <?php echo isset($param['validate'])?$param['validate']:null; ?>> <?php echo app::getliblang($param['datas'][$i]); ?>
				</label>
			</div>
		<?php } ?>
	</div>
</div>
