<?php
$msg = msg::get_message($param['name']);
$items = [];
if(!is_array($param['items']))
{
	while($row=db::fetch($param['items']))
	{
		$items[] = $row;
	}
}
else
{
	$items = $param['items'];
}
?>
<div <?php echo ($param['type']=="hidden"?"style='display: none;'":'') ?> class="form-group" id="g_<?php echo $param['name'] ?>" <?= $param['style'] ?>>
	<label style="<?= (empty($param['hide_label'])?"":"display: none;") ?>"  id="l_<?= $param['name'] ?>" class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo ($param['ganti_label']?app::getliblang($param['ganti_label']):(app::getliblang($param['name']))); ?><?php echo (isset($param['validate']))? '<span class="required">*</span>' : null ?> :
		</label>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<select id="<?php echo $param['name'] ?>" style="<?= $param['style_input'] ?>" name="p_<?php echo $param['name'] ?>" class="form-control" <?= (isset($param['validate'])?"required":"") ?> <?php echo (isset($param['disabled']))? 'disabled="disabled"': null ?> <?php echo (isset($param['readonly']))? 'readonly="readonly"': null ?>>
			<option value="" selected><?php echo app::getliblang('select');  ?></option>
		<?php foreach($items as $row){ ?>
			<option value="<?php echo $row['id']; ?>" <?php echo ($param['value'] == $row['id']?'selected':null); ?>><?php echo $row['name']; ?></option>
		<?php } ?>
		<?php if (!empty($param['other'])): ?>
			<option value="other" <?php echo ($param['value'] == "other"?'selected':null); ?>><?php echo app::getliblang('other');  ?></option>
		<?php endif ?>
		</select>
	</div>
</div>
