<?php
$msg = msg::get_message($param['name']);
$items = [];
if(!is_array($param['items']))
{
	while($row=db::fetch($param['items']))
	{
		$items[] = $row;
	}
}
else
{
	$items = $param['items'];
}

?>
<div class="form-group">
	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::i18n($param['name']); ?><?php echo (isset($param['validate']))? '<span class="required">*</span>' : null ?>
		</label>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<select <?php echo (isset($param['readonly']))? 'readonly="readonly"': null ?> id="<?php echo $param['name'] ?>" name="<?php echo $param['name']; ?>" class="select2 form-control">
				<option value=""><?php echo app::i18n('select');  ?></option>
				<?php foreach($items as $row){ ?>
						<option value="<?php echo $row['id']; ?>"<?php 
							if (!isset($param['khusus'])) {
							echo $param['value'] == $row['id'] ?'selected':null;							
							}
							else{
								echo strcmp($param['value'],$row['id'] ) == 0 ?'selected':null;
							}
 ?>><?php echo $row['name']; ?></option>
				<?php } ?>
		</select>
	</div>
</div>
