<?php
$msg = msg::get_message($param['name']);
$items = [];
if(!is_array($param['items']))
{
	while($row=db::fetch($param['items']))
	{
		$items[] = $row;
	}
}
else
{
	$items = $param['items'];
}

?>
<div class="form-group">
	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo (isset($param['validate']))? '<span class="required">*</span>' : null ?> :
		</label>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<select id="<?php echo $param['name'] ?>" class="select2 form-control" name="p_<?php echo $param['name'] ?><?php echo isset($param['multiple'])? '[]"multiple="'.$param['multiple']:null; ?>" >
				<option value=""><?php echo app::getliblang('select');  ?></option>
				<?php foreach($items as $row){ ?>
						<option value="<?php echo $row['id']; ?>" <?php echo preg_match("/".$row['id']."/i",$param['value']) ?'selected':null; ?>><?php echo $row['name']; ?></option>
				<?php } ?>
		</select>
	</div>
</div>
