<link type="text/css" href="<?php echo $app['_scripts']; ?>/select2/css/select2.min.css" rel="stylesheet" />
<script src="<?php echo $app['_scripts']; ?>/select2/js/select2.min.js" type="text/javascript" language="javascript"></script>
<script>
	$(document).ready(function() {
		$(".select2").select2();
	});
</script>
