<?php if ($param['forgot'] !="yes") echo '<div class="ln_solid"></div>'; 

    $module = admlib::$page_active['module'];
?>

<div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="text-align:right;">
        <?php count(isset($param['hidden'])); for($i=0;$i<count(isset($param['hidden']['name']));$i++){?>
        <input type="hidden" name="<?php echo (isset($param['hidden']['name'][$i]))?$param['hidden']['name'][$i]:" ";?>" value="<?php echo (isset($param['hidden']['value'][$i]))?$param['hidden']['value'][$i]:" ";?>"/>
        <?php } ?>
        <input type="hidden" name="id" value="<?php echo $param['id']; ?>" />
        <input type="hidden" name="act" value="<?php echo $param['act']; ?>" />
        <?php echo (!isset($param['no_hidden'])?"<input type='hidden' name='step' value='2'/>":null) ?>
        <?php if ($param['act']=="edit" && $app['me']['code'] =="it"): ?>
        <a class="btn btn-success" href="<?= $app['http']."/".$module.".mod&act=status&id=".$param['id']."&status=".$param['status'] ?>" name="status">
            <?php if ($param['status']=="active"){
             echo "Deactive"; 
             }elseif($module != "module_file"){
             echo "Active"; 
             } ?>
        </a>
        <?php endif ?>
        <a class="btn btn-danger" href="javascript:history.back()" name="action">
            <?php echo app::getliblang('cancel'); ?>
        </a>
        <!-- <button type="submit" class="btn btn-primary"><?php echo app::getliblang('submit'); ?></button> -->
        <?php if(empty($param['no_submit']) && $module !="de_module_file"){ ?>
        <button type="submit" class="btn btn-warning"><?php echo app::getliblang('submit'); ?></button>
        <?php } ?>
    </div>
</div>