<?php if ($param['forgot'] !="yes") echo '<div class="ln_solid"></div>'; 
    $module = admlib::$page_active['module'];
//     $app['me']  = app::unserialize64($_SESSION[$app['session']]);
// echo "disini module".$module;
//     print_r($app['me']);
db::connect();
?>

<div class="form-group" style="float: right;width: 50%;">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
        <?php count(isset($param['hidden'])); for($i=0;$i<count(isset($param['hidden']['name']));$i++){?>
        <input type="hidden" name="<?php echo (isset($param['hidden']['name'][$i]))?$param['hidden']['name'][$i]:" ";?>" value="<?php echo (isset($param['hidden']['value'][$i]))?$param['hidden']['value'][$i]:" ";?>"/>
        <?php } ?>
        <input type="hidden" name="id" value="<?php echo $param['id']; ?>" />
        <input type="hidden" name="act" value="<?php echo $param['act']; ?>" />
        <?php echo (!isset($param['no_hidden'])?"<input type='hidden' name='step' value='2'/>":null) ?>
        <!-- <button type="submit" class="btn btn-primary"><?php echo app::getliblang('submit'); ?></button> -->
        <?php // if(empty($param['no_submit'])){ 

            $cek_reject = db::lookup("id",$module, "status_progress ='rejected' AND id = '".$param['id']."' ");
            $cek_user_approve = "";
            $cek_user_approve_2="";
            if ($app['me']['level']=="2" && $app['me']['code']!="it") {
                $cek_user_approve = db::lookup("id",$module, "(approve_".$app['me']['level']."='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                // echo "disini ".$cek_user_approve = db::lookup("id","config", "1=1");
            }
            if ($app['me']['level']=="3" && ($app['me']['code']!="it" && $app['me']['code']!="hrd")) {
                // echo "disini ".$cek_user_approve_2 = db::lookup("id",$module, "(approve_2='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                $cek_user_approve_2 = db::lookup("id",$module, "(approve_2='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                // $cek_spv_section = db::lookup("id","section","id",$app['me']['id_section']);
                $cek_spv   = db::lookup("id","title","id_section='".$app['me']['id_section']."' AND level='2'");
                if (!empty($cek_user_approve_2) || empty($cek_spv)) {
                    $cek_user_approve = db::lookup("id",$module, "(approve_".$app['me']['level']."='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                     // echo "disini ";
                }else{
                     $cek_user_approve ="1";
                }
                // echo $cek_user_approve." disana ";

                // echo "disini ".$cek_user_approve = db::lookup("id",$module, "1=1");
            }
            if ($app['me']['level']=="4" && $app['me']['code']!="it") {
                // $cek_user_approve_2 = db::lookup("id",$module, "(approve_2='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                // if (!empty($cek_user_approve_2)) {
                    $cek_user_approve_3 = db::lookup("id",$module, "(approve_3='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                    if (!empty($cek_user_approve_3)) {
                        $cek_user_approve = db::lookup("id",$module, "(approve_".$app['me']['level']."='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                        }else{
                         $cek_user_approve ="1";
                        }
                  // }else{
                  //    $cek_user_approve ="1";
                  // }
            }
            if ($app['me']['level']=="5" && $app['me']['code']!="it") {
                $cek_gm   = db::lookup("id","title","id_section='".$app['me']['id_section']."' AND level='4'");
                $cek_user_approve_4 = db::lookup("id",$module, "(approve_4='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                if (!empty($cek_user_approve_4) || empty($cek_gm)) {
                    $cek_user_approve = db::lookup("id",$module, "(approve_".$app['me']['level']."='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                }
            }
            //
            if ($app['me']['level']=="1" && $app['me']['code']=="it") {
                if ($module=="form_cpassword") {
                    $finish_it = db::lookup("id",$module, "(finish_it='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                    $cek_user_approve = db::lookup("id",$module, "(finish_it='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");

                   	$cek_user_approve_dulu = db::lookup("id",$module, "approve_3 ='iya' AND id = '".$param['id']."' ");
			if(empty($cek_user_approve_dulu)){
			 $cek_user_approve =1;
			}else{
                    	 #$cek_user_approve = db::lookup("id",$module, "(approve_it='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
			 $cek_user_approve = db::lookup("id",$module, "(finish_it='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                    	 $finish_it = db::lookup("id",$module, "(finish_it='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
			}
                }elseif ($module=="form_pengajuan_user" || $module=="form_register_device") {
                    #$finish_it = db::lookup("id",$module, "(finish_it='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                    $cek_user_approve = db::lookup("id",$module, "(status_progress = 'partly' AND status_progress !='rejected') AND id = '".$param['id']."' ");
			if($cek_user_approve){
				$cek_user_approve =1;
			}else{
	                    $cek_user_approve = db::lookup("id",$module, "(approve_it='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
			}
                }else{

                   	$cek_user_approve = db::lookup("id",$module, "approve_3 ='iya' AND id = '".$param['id']."' ");
			
			if(empty($cek_user_approve)){
			 $cek_user_approve =1;
			}else{
                    	 $cek_user_approve = db::lookup("id",$module, "(approve_it='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
			}
                }
            }
            if ($app['me']['level']=="3" && $app['me']['code']=="it") {
        
                $cek_user_approve_1 = db::lookup("id",$module, "(approve_it='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                if (!empty($cek_user_approve_1)) {
                    $cek_user_approve = db::lookup("id",$module, "(approve_it_".$app['me']['level']."='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                }else{
                    $cek_user_approve ="1";
                }
            }
           
            if (($app['me']['level']=="3" ||$app['me']['level']=="2" ) && $app['me']['code']=="hrd") {
        
                $cek_user_approve_1 = db::lookup2("id",$module, "(approve_hrd='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                if (!empty($cek_user_approve_1)) {
                    // echo "disini";
                    // exit;
                    $cek_user_approve = db::lookup("id",$module, "(approve_hrd_3='iya' AND status_progress !='rejected') AND id = '".$param['id']."' ");
                }else{
                    $cek_user_approve ="1";
                }
            }
            $cek_status_reject = db::lookup("id",$module, "status_progress ='rejected' AND id = '".$param['id']."' ");
            ?>
            <?php  if (empty($cek_user_approve) && empty($cek_reject) ): ?>
                
                <button type="submit" value="1" name = "approve" class="btn btn-success"><?php echo app::getliblang('approve'); ?></button>
            <?php endif ?>


            <?php  if (!empty($finish_it) && empty($cek_reject) ): ?>
                
                <span class="btn btn-success"><i class="fa fa-thumbs-up"></i></span>
                <button type="submit" value="1" name = "approve" class="btn btn-success"><?php echo app::getliblang('approve'); ?></button>
            <?php endif ?>




            <?php if (($cek_user_approve && $cek_user_approve !="1") && empty($finish_it)): ?>
                <span class="btn btn-success"><i class="fa fa-thumbs-up"></i></span>
                <!-- <button class="btn btn-success" ><i class="fa fa-thumbs-up"></i></button> -->
            <?php endif ?>
        <a class="btn btn-warning" href="javascript:history.back()" name="action">
            <?php echo app::getliblang('cancel'); ?>
        </a>
        <?php //if (($app['me']['code']!="it" && empty($cek_user_approve))  && empty($cek_reject)):
              if (empty($cek_user_approve)  && empty($cek_reject)):
         ?>
            <button type="submit" value="1" name = "reject" class="btn btn-danger"><?php echo app::getliblang('reject'); ?></button>        
        <?php endif ?>
        <?php if (!empty($cek_status_reject)): ?>
                <span class="btn btn-danger"><i style="" class="fa fa-times"></i></span>
        <?php endif ?>
        <?php // } ?>
    </div>
</div>