<?php if ($param['forgot'] !="yes") echo '<div class="ln_solid"></div>'; 
?>

<div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="text-align:right;">
        <?php count(isset($param['hidden'])); for($i=0;$i<count(isset($param['hidden']['name']));$i++){?>
        <input type="hidden" name="<?php echo (isset($param['hidden']['name'][$i]))?$param['hidden']['name'][$i]:" ";?>" value="<?php echo (isset($param['hidden']['value'][$i]))?$param['hidden']['value'][$i]:" ";?>"/>
        <?php } ?>
        <input type="hidden" name="id" value="<?php echo $param['id']; ?>" />
        <input type="hidden" name="act" value="<?php echo $param['act']; ?>" />
        <?php echo (!isset($param['no_hidden'])?"<input type='hidden' name='step' value='2'/>":null) ?>
        <a class="btn btn-danger" href="<?php if(empty($param['cancel_link'])){ ?>javascript:history.back()<?php }else{ echo $param['cancel_link']; } ?>" name="action">
            <?php echo app::getliblang('cancel'); ?>
        </a>
        <!-- <button type="submit" class="btn btn-primary"><?php echo app::getliblang('submit'); ?></button> -->
        <?php if(empty($param['no_submit'])){ ?>
        <button type="submit" id = "form_submit" class="btn btn-warning"><?php echo app::getliblang('submit'); ?></button>
        <?php } ?>
    </div>
</div>