<script src="<?php echo $app['_vendors'] ?>/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<script>
      function onAddTag(tag) {
        alert("Added a tag: " + tag);
      }

      function onRemoveTag(tag) {
        alert("Removed a tag: " + tag);
      }

      function onChangeTag(input, tag) {
        alert("Changed a tag: " + tag);
      }
		var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];
      $(document).ready(function() {
        $('#tags').tagsInput({
          width: 'auto'
        });
      });
</script>
