<script language="javascript" type="text/javascript" src="<?php echo $app['webmin'] ?>/src/assets/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
	tinymce.init({
			//selector: 'textarea',
			mode : "specific_textareas",
			editor_selector  : "mceEditor",
			height: 500,
			menubar: false,
			plugins: [
				'advlist autolink lists link image preview anchor',
				'searchreplace visualblocks code fullscreen',
				'insertdatetime media table contextmenu paste code'
			],
			toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code',
			//content_css: '//www.tinymce.com/css/codepen.min.css'
			extended_valid_elements: "span",
			forced_root_block : false,
			force_br_newlines : false,
			force_p_newlines : false,
	});
</script>
