<?php $msg = msg::get_message($param['name']); ?>
<div class="form-group">
	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo (isset($param['validate'])? '<span class="required">*</span>' : null); ?> :
		</label>
	<div class="col-md-8 col-sm-6 col-xs-12">
		<textarea id="<?php echo $param['name'] ?>" class="mceEditor <?php echo ($msg)? 'error-style' : null ?>" name="p_<?php echo $param['name'] ?>" <?php echo isset($param['validate'])?$param['validate']:null; ?> <?php echo ($msg)? 'data-error="'.$msg.'"' : null ?>><?php echo $param['value'] ?></textarea>
	</div>
</div>
