<?php $msg = msg::get_message($param['name']); ?>
<div class="form-group">
	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="<?php echo $param['name'] ?>"><?php echo app::getliblang($param['name']); ?><?php echo (isset($param['validate'])? '<span class="required">*</span>' : null); ?> :
			</label>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<textarea id="<?php echo $param['name'] ?>" <?php echo isset($param['editor']) ? 'class="mceEditor"':null ?> <?php echo isset($param['validate'])?$param['validate']:null; ?> class="col-md-6 col-sm-6 col-xs-12" name="p_<?php echo $param['name'] ?>" rows="2" <?php echo (isset($param['style'])?$param['style']:'style="width:100%;"') ?> <?php echo (isset($param['validate']))? 'required' : null ?>><?php echo $param['value'] ?></textarea>
	</div>
</div>
