<!--<link rel="stylesheet" type="text/css" href="<?php echo $app['webmin']; ?>/src/assets/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="<?php echo $app['webmin']; ?>/src/assets/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
<! -- <link rel="stylesheet" type="text/css" href="<?php echo $app['webmin']; ?>/src/assets/css/bootstrap-responsive.css"> -- >
<! -- <link rel="stylesheet" type="text/css" href="<?php echo $app['webmin']; ?>/src/assets/css/bootstrap2.css"> -- >
<! -- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -- >
<! -- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"> -- >
<script src="<?php echo $app['webmin']; ?>/src/assets/js/prettify.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<! -- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script> -- >
<! -- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script> -- >
<! -- <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script> -- >
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="<?php echo $app['webmin']; ?>/src/assets/js/bootstrap-material-datetimepicker.js"></script>
<script src="<?php echo $app['webmin']; ?>/src/assets/js/jqui/jquery-ui.js"></script>
<! -- <script src="https://vitalets.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> -->


<!-- Optional theme -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="<?php echo $app['_styles'] .'/bootstrap-theme.min.css?'. rand(1,1000); ?>">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


<script>
    $(document).ready(function() {
        // $('#tgl_pengajuan').bootstrapMaterialDatePicker({
        //     format: 'dddd DD MMMM YYYY - HH:mm'
        // });
        // $(".abcdera").datetimepicker({
        //     format: "dd MM yyyy - HH:ii P"
        // });

        $('.datetimepicker7').datetimepicker({
            // use24hours: true,
            format: 'DD/MM/YYYY HH:mm:ss',
            // minDate: getFormattedDate(new Date()),
            useCurrent: false //Important! See issue #1075
        });
        // $("#datetimepicker6").on("dp.change", function(e) {
        //     $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        // });
        $(".datetimepicker7").on("dp.change", function(e) {
            // $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>