<script src="<?php echo $app['_scripts']; ?>/multi/jquery.MultiFile.js" type="text/javascript" language="javascript"></script>
<script>
	function open_popup(id)
	{
		var w = 880;
		var h = 570;
		var l = Math.floor((screen.width-w)/2);
		var t = Math.floor((screen.height-h)/2);
		var win = window.open("<?php echo $app['_vendors']; ?>/filemanager/dialog.php?type=1&popup=1&relative_url=1&field_id=" + id, 'ResponsiveFilemanager', "scrollbars=1,width=" + w + ",height=" + h + ",top=" + t + ",left=" + l);
	}
	function responsive_filemanager_callback(id){
		if(id){
			var img = document.getElementById('view-' + id);
			var value = document.getElementById(id).value;
			img.style.display = "block";
			img.src = value;
			document.getElementById(id).value = value.replace("<?php echo $app['data_lib']; ?>/","");
		}
	}
	function chkExtFile(file, exts){
		  // first check if file field has any value
		if ( file ) {
			// split file name at dot
			var get_ext = file.split('.');
			// reverse name to check extension
			get_ext = get_ext.reverse();
			// check file type is valid as given in 'exts' array
			if ( $.inArray ( get_ext[0].toLowerCase(), exts ) > -1 ){
				return true;
			} else {
				return false;
			}
		}
	}
	function readURL(input) {
		var id = $(input).attr('name');
		$('#' + id).show();
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function (e) {
				if($(input).attr('category') == 'image')
				{
					$('#'+ id).attr('src', e.target.result);
				}
				else
				{
					var file_name = $(input).val().replace(/\\/g, '/').replace(/.*\//, '')
					$('#'+ id).text(file_name);
				}
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
	$(function(){
		$('input[type=file]').change(function(){
			if(!chkExtFile($(this).val(), $(this).attr("accept").split("|")))
			{
			 	alert('Invalid file.');
				$(this).val("");
				return true;
			}
			readURL(this);
		});
	});
</script>
