@import 'https://fonts.googleapis.com/css?family=Roboto';
*{margin:0;padding:0;border:0;outline:0;}
body{font:16px/18px 'Roboto', sans-serif;color:#212121;background:url(image/bg-login.png);}
ul{list-style:none;}
a{text-decoration:none;}
.con:before,.con:after{
	content:"";
	display:table;
	line-height:0;
	height:0;
}
.con:after{
	clear:both;
}
.lte7 .con{
	zoom:1;
}
.container-installer{
	margin:0 auto;
	width:1200px;
}
.btn{
	width:150px;
	text-align:center;
	padding:15px 0;
	display:inline-block;
	color:#212121;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	font-size:15px;
}
.btn-sbmt{
	border-color:#fdaf17;
}
.r{
	background:#f5f5f5;
	padding:15px;
	color:#212121;
	font-size:16px;
	width:290px;
}
.wrapper-installer{
	width:420px;
	padding:30px 50px 50px;
	margin:50px auto 0;
	text-align:center;
	box-sizing:border-box;
}
.form-login dt{
	background:url(image/login-sprites.png) no-repeat;
}
.wrapper-installer .login-logo{
	margin:0 auto;
}
.wrapper-installer .login-logo img{
	width:;
	height:;
	margin:0 auto;
}
.wrapper-installer h3{
	font-size:30px;
	padding:0 0 20px;
	font-weight:normal;
	border-bottom:1px solid #fdaf17;
	text-align:left;
	margin-top:40px;
}
.welcome{
	width:500px;
}
.welcome p{
	line-height:28px;
	margin:30px 0;
}
.welcome a{
	float:right;
}
.installer-form{
	margin-top:25px;
}
.installer-form li{
	margin:0 0 10px;
}
.installer-form li:last-child{
	margin-top:25px;
}
.installer-form .logo-browse{
	text-align:left;
	margin-top:20px;
}
.installer-form  .checkbox{
	font-weight:normal;
	text-align:left;
	margin:0 0 20px;
	display:block;
}
.installer-form  .checkbox input{
	border:1px solid #bdbdbd;
	margin:0 20px 0 0;
}
.installer-form .btn{
	display:block;
	width:100%;
	background:#fff;
}
.wrapper-login{
	width:420px;
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:0 auto;
	transform:translateY(-50%);
}

.form-login dl{
	margin:15px 0 20px;
}
.form-login dt{
	width:40px;
	height:39px;
	float:left;
}
.form-login .ico-user{
	background-position:0 0;
}
.form-login .ico-password{
	background-position:-40px 0;
}
.form-login dd{
	padding:0 0 20px;
}
.form-login .r{
	width:100%;
	outline:none;
	border:1px solid #bdbdbd;
	background:none;
}
.form-login .btn-login{
	padding:10px 30px;
	background:#f4811f;
	border:0;
	display:inline-block;
	width:auto;
}
.form-login .forgot-password{
	display:block;
	font-size:13px;
	text-align:center;
	color:#757575;
	margin-top:15px;
}

.alert-success{color:red;background:none;border:1px solid red;}
.etex{position:absolute;right:20px;bottom:20px;width:180px;}
.etex img{width:100%;}

@media only screen and (max-width: 480px) {
	.wrapper-login{
		max-width:320px;
		padding:10px 20px 20px;
	}
	.etex{width:150px;}
}


@media only screen and (max-width: 320px) {
	.wrapper-login{
		max-width:300px;
	}	
	.form-login dd{
		padding:0 0 20px;
	}
}
