.activity {
    background-color: #e5e5e5 !important; 
    padding:0px !important;
    padding-left:10px !important;
    padding-right:10px !important;
}
.activity .panel {
    border-radius: 0px;
}
.activity .panel .panel-heading {
    background-color: #fff; 
}
.activity .panel-top {
    background-color: #fff; 
}
.activity .tab-content textarea, .activity .tab-content input {
    border-top:0px;
}
.panel-primary {
    border-color: #fff !important;
}
.panel-primary > .panel-heading {
    color: #73879C !important;
    border-color: #ddd !important;
}
/* timeline */
.timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}
.timeline .label-info {
    color: #fff;
    padding: 5px 20px;
    border-radius: 50px;
    background-color: #73879C;
}
.timeline .line {
    position: absolute;
    width: 3px;
    display: block;
    background: #f5f5f5;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .info {
    text-align: center;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background: #f5f5f5;
}

.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .panel-outline .panel-body {
    padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}
