.btn-result li{display:none;}
.action-activity{cursor:pointer;}
.list-company {
    background-color: #e5e5e5;
    position: absolute;
}
.list-company li {
    padding: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.list-company li a {
    display: block !important;
    cursor: pointer;
    padding: 10px 15px;
}