/* line 8, ../../src/scss/style.scss */
.nav_menu {
  background-color: #10069f;
  border-bottom: none;
}
.scroll-view{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.nav-sm .scroll-view{
	overflow:visible;
}
.nav-sm .child_menu{
	overflow-y:auto;
	max-height:300px;
}


.error-style{
	border:1px solid #ff3333;
	box-sizing:border-box;
}


/* line 14, ../../src/scss/style.scss */
.toggle a {
  color: #ffffff;
}
/* line 16, ../../src/scss/style.scss */
.toggle a:focus, .toggle a:hover {
  color: #212121;
}

/* line 20, ../../src/scss/style.scss */
.site_title {
  padding-left: 0;
  height: 57px;
  border-bottom: 1px solid #e1e1e1;
}

/* line 29, ../../src/scss/style.scss */
.nav.navbar-nav > li > a {
  color: #ffffff !important;
}

/* line 33, ../../src/scss/style.scss */
.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover {
  background-color: #757575;
  color:#fff !important;
}

/* line 37, ../../src/scss/style.scss */
.top_nav .nav .open > a {
  background-color: #757575;
   color:#fff !important;
}
/* line 39, ../../src/scss/style.scss */
.top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover {
  background-color: #757575;
  color:#fff !important;
}

/* line 43, ../../src/scss/style.scss */
.left_col {
  background-color: #000000;
}

/* line 46, ../../src/scss/style.scss 
.nav-md .container.body .right_col, footer {
  border-left: 1px solid #e1e1e1;
}*/

/* line 51, ../../src/scss/style.scss */
.nav.side-menu > li > a, .nav.child_menu > li > a {
  color: #fff;
}

/* line 54, ../../src/scss/style.scss */
.nav.side-menu > li > a:hover {
  color: #f58220 !important;
}
.nav.side-menu > li.active-sm > a {
  color: #f58220 !important;
}

/* line 57, ../../src/scss/style.scss */
body, .nav_title {
  background-color: #fff;
}

/* line 60, ../../src/scss/style.scss */
.nav.side-menu > li.current-page, .nav.side-menu > li.active{
  border-right:0px solid transparent;
}
.nav.side-menu > li.current-page a, .nav.side-menu > li.active > a{
  border-right:5px solid #f58220;
}

/* line 67, ../../src/scss/style.scss */
.info-number .badge {
  background-color: #949494;
}

/* line 72, ../../src/scss/style.scss */
.x_panel {
  background-color: transparent;
  border: none;
}

/* line 78, ../../src/scss/style.scss */
.x_title h2 small {
  margin-left: 0;
}

/* line 83, ../../src/scss/style.scss */
body .container.body .right_col {
  background-color: #fff;
}

/* line 88, ../../src/scss/style.scss */
.nav.side-menu > li.active {
  /* background: #f5f5f5; */
}
.nav.side-menu > li.active > a {
  background: none;
  color: #f58220;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px;
}
.nav.side-menu > li.active > ul.sub-menu{
  background: #eee;
}

/* line 92, ../../src/scss/style.scss */
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  bottom: 14px;
}

/* line 97, ../../src/scss/style.scss */
.date {
  font-size: 14px;
  line-height: 57px;
  color:#ffffff;
}

/* line 102, ../../src/scss/style.scss */
.page-title .title {
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}

/* Mamad Style */
/* line 118, ../../src/scss/style.scss */
.add_fix:after {
  display: block;
  content: "";
  clear: both;
}

/* line 119, ../../src/scss/style.scss */
table.table-bordered.dataTable th {
  background: #424242;
  color: #fff;
  padding: 15px 20px;
}

/* line 120, ../../src/scss/style.scss */
table.table-bordered.dataTable td {
  padding: 12px 20px;
}

/* line 121, ../../src/scss/style.scss */
body .container.body .right_col {
  background: #fff;
}

/* line 122, ../../src/scss/style.scss */
.x_panel {
  border: none;
}

/* line 123, ../../src/scss/style.scss */
.add, .copy, .sort, .back {
  border: none;
  border-radius: 0;
  background: #757575;
  border-bottom: 1px solid #d6d6d6;
  padding: 12px 20px;
  color:#fff;
}

.btn-default:hover,.btn-default:focus,.btn-default:active{
	background:#f58220 !important;
}

/* line 124, ../../src/scss/style.scss */
.tool_box {
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

/* line 125, ../../src/scss/style.scss */
.tool_box i {
  font-size: 15px;
  margin-right: 10px;
}

/* line 126, ../../src/scss/style.scss */
span.section {
  border-bottom: none;
}

.panel-warning .panel-heading{background:#757575 !important;}
.panel-warning{border-color:#ddd;}
