<table width="900" border="0" align="center">
    <tr>
        <td style="display: flex; align-items: center;">
            <img src="logo.png" alt="" style="width: 200px; height: 150px; display: block; text-align: left;">
            <span style="display: block;font-size: 20px;font-weight: bold;margin-left: 100px;letter-spacing: 5px"><u>SURAT
                    JALAN / PENGANTAR</u></span>
        </td>
    </tr>
</table>
<table width="900px" border="0" align="center">
    <tr>
        <td style="
                text-align: left;
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                float: left;">
            <span>A</span>
            <span style="display: inline-block; margin-left: 30px;">No.</span>
            <span style="display: inline-block; margin-left: 10px;">D - 1372</span>
        </td>
        <td style="
                text-align: left;
                font-size: 16px;
                display: inline-block;
                float: right;">
            <p style="margin: 0">Surabaya, ........................... 20........</p>
            <p style="margin: 3px 0;letter-spacing: 5px; text-align: center;">Kepada Yth.</p>
        </td>
    </tr>
    <tr>
        <td style="font-weight:300;float: left;margin: 5px 0;">
            <span>Kendaraan No. Polisi</span>
            <span style="display: inline-block; margin-left: 10px;">:</span>
            <span>......................................</span>
        </td>
        <td style="font-weight:300;float: right;">
            <span>.........................................................</span>
        </td>
    </tr>
    <tr>
        <td style="font-weight:300;float: left;margin: 5px 0;">
        </td>
        <td style="font-weight:300;float: right;">
            <span>.........................................................</span>
        </td>
    </tr>
    <tr>
        <td style="font-weight:300;float: left;margin: 5px 0;">
        </td>
        <td style="font-weight:300;float: right; display: block;margin: 10px 0;">
            <span>di </span>
            <span style="display: inline-block; width: 200px; border-bottom: 1px solid;"></span>
            <span style="display: block; width: 200px; border-bottom: 1px solid;margin-left: 16px;"></span>
        </td>
    </tr>
</table>

<span style="display: inherit; width: 900px; margin: 5px auto; border-bottom: 2px solid;"></span>
<table width="900" border="1" align="center" cellpadding="0" cellspacing="0" style="font-family:Calibri; font-size:15px;">
    <tr>
        <th style="width: 150px;font-weight: 500;">Container</th>
        <th style="width: 120px;font-weight: 500;">Jumlah barang (Colli / units)</th>
        <th style="width: 107px;font-weight: 500;">Berat barang (Ton / M3 / Kg)</th>
        <th style="font-weight: 500; letter-spacing: 5px;">Jenis Barang</th>
        <th style="font-weight: 500; letter-spacing: 5px;">Keterangan</th>
    </tr>
    <tr>
        <td style="vertical-align: top;text-align: center; padding: 8px 0;">This Container</td>
        <td style="vertical-align: top;text-align: center; padding: 8px 0;">50</td>
        <td style="vertical-align: top;text-align: center; padding: 8px 0;">50 kg</td>
        <td style="vertical-align: top;text-align: center; padding: 8px 0;">Barang</td>
        <td style="vertical-align: top;text-align: center; padding: 8px 0;">Tidak ada keterangan</td>
    </tr>
</table>
<p style="display: inherit;width: 900px;margin: 10px auto;">Barang-barang tersebut diatas harap diterima dengan baik.</p>

<table width="1000px" border="0" align="center">
    <tr>
        <td style="display: inline-block; width: 300px; text-align: center;">
            <p style="letter-spacing: 5px;margin-bottom: 50px">Penerima,</p>
            <p>(......................................................)</p>
        </td>
        <td style="display: inline-block; width: 300px; text-align: center;">
            <p style="letter-spacing: 5px;margin-bottom: 50px">Pembawa,</p>
            <p>(......................................................)</p>
        </td>
        <td style="display: inline-block; width: 300px; text-align: center;">
            <p style="letter-spacing: 5px;margin-bottom: 50px">Pengirim,</p>
            <p>(......................................................)</p>
        </td>
    </tr>
</table>

<table width="900" border="0" align="center">
    <tr>
        <td style="letter-spacing: 5px;font-weight: bold;">PERHATIAN:</td>        
    </tr>
    <tr>
        <td>1. Untuk memudahkan pemeriksaan agar diisi menurut keadaan yang sebenarnya.</td>
    </tr>
    <tr>
        <td>2. Berat barang supaya ditulis dengan teliti dan jelas dalam Ton.</td>
    </tr>
    <tr>
        <td>*) Coret yang tidak perlu.</td>
    </tr>
</table>