
	           
	<table width="900" border="0" align="center">
	    <tr>
	        <td style="display: flex; align-items: center;">
	            <img src="{IMG_COMPANY}" alt="" style="width: 200px; height: 150px; display: block; text-align: left;">
	        </td>
	        <td> <span style="display: block;font-size: 20px;font-weight: bold;margin-left: 1000px;letter-spacing: 5px;position: absolute;top: -100px;"><u>SURAT
	                    JALAN / PENGANTAR</u></span></td>
	    </tr>
	</table>
	<table width="900px" border="0" align="center">
	    <tr>
	        <td style="
	                text-align: left;
	                font-size: 16px;
	                font-weight: bold;
	                display: inline-block;
	                float: left;width: 75%">
	            <span>A</span>
	            <span style="display: inline-block; margin-left: 30px;">No.</span>
	            <!-- <span style="display: inline-block; margin-left: 10px;">D - 1372</span> -->
	            <span style="display: inline-block; margin-left: 10px;">{NUM_PIB}</span>
	        </td>
	        <td style="
	                text-align: left;
	                font-size: 16px;
	                display: inline-block;
	                float: right;">
	            <!-- <p style="margin: 0">Surabaya, ........................... 20........</p> -->
	            <p style="margin: 0">Surabaya, {DATE_DELIV}</p>
	            <p style="margin: 3px 0;letter-spacing: 5px; text-align: center;">Kepada Yth.</p>
	        </td>
	    </tr>
	    <tr>
	        <td style="font-weight:300;float: left;margin: 5px 0;">
	            <span>Kendaraan No. Polisi</span>
	            <span style="display: inline-block; margin-left: 10px;">:</span>
	            <!-- <span>......................................</span> -->
	            <span></span>
	        </td>
	        <td style="font-weight:300;float: right;">
	            <!-- <span>.........................................................</span> -->
	            <span>{CUSTOMER}</span>
	        </td>
	    </tr>
	    <tr>
	        <td style="font-weight:300;float: left;margin: 5px 0;">
	        </td>
	        <td style="font-weight:300;float: right;">
	            <!-- <span>.........................................................</span> -->
	            <span>.........................................................</span>
	        </td>
	    </tr>
	    <tr>
	        <td style="font-weight:300;float: left;margin: 5px 0;">
	        </td>
	        <td style="font-weight:300;float: right; display: block;margin: 10px 0;">
	            <span>di </span>
	            <span style="display: inline-block; width: 200px; border-bottom: 1px solid;"></span>
	            <span style="display: block; width: 200px; border-bottom: 1px solid;margin-left: 16px;"></span>
	        </td>
	    </tr>
	</table>

	<span style="display: inherit; width: 900px; margin: 5px auto; border-bottom: 2px solid;"></span>
	<table width="900" border="1" align="center" cellpadding="0" cellspacing="0" style="font-family:Calibri; font-size:15px;">
	    <tr>
	        <th style="width: 150px;font-weight: 500;">Container</th>
	        <th style="width: 120px;font-weight: 500;">Jumlah barang (Colli / units)</th>
	        <th style="width: 107px;font-weight: 500;">Berat barang (Ton / M3 / Kg)</th>
	        <th style="font-weight: 500; letter-spacing: 5px;">Jenis Barang</th>
	        <th style="font-weight: 500; letter-spacing: 5px;">Keterangan</th>
	    </tr>
	    <tr>
	        <!-- <td style="vertical-align: top;text-align: center; padding: 8px 0;">This Container</td> -->
	        <td style="vertical-align: top;text-align: center; padding: 8px 0;">{NAMA_CONT}</td>
	        <td style="vertical-align: top;text-align: center; padding: 8px 0;">{QTY}</td>
	        <!-- <td style="vertical-align: top;text-align: center; padding: 8px 0;">50 kg</td> -->
	        <td style="vertical-align: top;text-align: center; padding: 8px 0;"></td>
	        <!-- <td style="vertical-align: top;text-align: center; padding: 8px 0;">Barang</td> -->
	        <td style="vertical-align: top;text-align: center; padding: 8px 0;">{JEN_BAR}</td>
	        <!-- <td style="vertical-align: top;text-align: center; padding: 8px 0;">Tidak ada keterangan</td> -->
	        <td style="vertical-align: top;text-align: center; padding: 8px 0;">{SEAL}</td>
	    </tr>
	</table>
	<p style="display: inherit;width: 900px;margin: 10px auto;">Barang-barang tersebut diatas harap diterima dengan baik.</p>

	<table width="1000px" border="0" align="center">
	    <tr>
	        <td style="display: inline-block; width: 300px; text-align: center;">
	            <p style="letter-spacing: 5px;margin-bottom: 50px">Penerima,</p>
	            <br>
	            <p>(......................................................)</p>
	        </td>
	        <td style="display: inline-block; width: 300px; text-align: center;">
	            <p style="letter-spacing: 5px;margin-bottom: 50px">Pembawa,</p>
	            <br>
	            <p>(......................................................)</p>
	        </td>
	        <td style="display: inline-block; width: 300px; text-align: center;">
	            <p style="letter-spacing: 5px;margin-bottom: 50px">Pengirim,</p>
<!-- 	            <span style="width: 200px;height: 20px;bottom:115px;position: absolute;right: 308px;text-align: center;"><?php echo $name_armada; ?></span> -->
	            <span style="width: 200px;height: 20px;bottom:-30px;position: relative;right: 0px;text-align: center;"></span>
	            <!-- <span style="margin:auto;position: absolute;"><?php echo $name_armada; ?></span> -->
	            <p>(......................................................)</p>
	        </td>
	    </tr>
	</table>

	<table width="900" border="0" align="center">
	    <tr>
	        <td style="letter-spacing: 5px;font-weight: bold;">PERHATIAN:</td>        
	    </tr>
	    <tr>
	        <td>1. Untuk memudahkan pemeriksaan agar diisi menurut keadaan yang sebenarnya.</td>
	    </tr>
	    <tr>
	        <td>2. Berat barang supaya ditulis dengan teliti dan jelas dalam Ton.</td>
	    </tr>
	    <tr>
	        <td>*) Coret yang tidak perlu.</td>
	    </tr>
	</table>